<!doctype html>
<html class="no-js" ng-app="bikespaApp" >
  <head>
    <meta charset="utf-8">
    <title>PoshBike 珀车</title>
    <meta name="description" content="">
    <meta name="author" content="www.poshbike.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!-- Favicons  you need place favicon ico in  images/ico directory -->
      <link rel="shortcut icon" href="images/ico/favicon.ico">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->

      <link rel="stylesheet" href="style-slate/bootstrap.css" />

      <!-- bootstrap template css start  -->
      <link href="styles/css/font-awesome.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="styles/css/templatemo_misc.css">
      <link rel="stylesheet" href="styles/css/animate.css">
      <link href="styles/css/templatemo_style.css" rel="stylesheet" media="screen">
      <!-- bootstrap template css end -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body  ng-controller="BodyController" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
        <div class="containerLogin" >
            <div class=" navbar-default" role="navigation">

                <div class="navbar-collapse">
                    <!-- Navbar links -->

                   <!-- <ul class="nav navbar-nav">
                        <li ng-class="{ active: $state.is('app.home') }">
                            <a ui-sref="app.home">Home test</a>
                        </li>
                        <li ng-class="{ active: $state.is('app.admin') }">
                            <a ui-sref="app.admin">Admin-Only page</a>
                        </li>
                        <li ng-class="{ active: $state.is('app.user') }">
                            <a ui-sref="app.user">Registered-Only page</a>
                        </li>
                    </ul>-->
                    <!--

                    <form class="navbar-form navbar-middle">
                        <input type="text" class="form-control col-lg-8 fa fa-user " placeholder="Search">
                    </form>

                    -->
                    <!-- Right side of the navbar -->
                    <!-- Login Form -->
                    <form class="navbar-form navbar-right" name="loginForm" role="login" ng-submit="loginMe()" ng-hide="ls.isLogged || !ls.doneLoading">

                        <button type="button" class="btn btn-default navbar-btn fa fa-user" ng-click="clickToRegister()">注册</button>
                        <button type="button" class="btn btn-default hidden-devices" ng-click="clickToSignIn()" ng-disabled="login.working" >登陆 <i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
                    </form>
                    <!-- Spinner -->
                    <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                    <!-- Logout Form -->
                    <form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="ls.isLogged">
                        <div class="form-group">
                            <label>Hello {{ ls.user.name }}</label>
                        </div>
                        <div class="form-group">
                            <button  type="submit" class="btn btn-default">Logout <i class="fa fa-signout"></i></button>
                        </div>
                    </form>
                </div>

                <div class="login-error" ng-class="{ 'active': login.wrong }">
                    <div class="alert alert-danger"><b>Error:</b> Server (WUT?) said your user/pass doesn't match existing users.</div>
                </div>
            </div>

            <!--  <ui-view ng-hide="doingResolve"></ui-view>-->

        </div>
    </nav>



    <!--  posh bike bootstrap template index  start-->



     <div class="bg-image"></div>


    <!--
    <div class="container language-select visible-md visible-lg">
        <div class="row">
            <div class="col-md-12">
                <select name="cat2" id="cat2" class="postform">
                    <option value="0">-- Language Selection --</option>
                    <option class="level-0" value="1">English</option>
                    <option class="level-0" value="2">Myanmar</option>
                </select>
            </div> &lt;!&ndash; /.col-md-12 &ndash;&gt;
        </div> &lt;!&ndash; /.row &ndash;&gt;
    </div>  /.language-select -->



    <!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li><a class="show-1 homebutton" href="#"><i class="fa fa-home"></i>Homepage</a></li>
                <li><a class="show-2" href="#"><i class="fa fa-group"></i>About Us</a></li>
                <li><a class="show-3" href="#"><i class="fa fa-briefcase"></i>Our Gallery</a></li>
                <li><a class="show-4" href="#"><i class="fa fa-cogs"></i>Services</a></li>
                <li><a class="show-5" href="#"><i class="fa fa-globe"></i>Contact Us</a></li>
            </ul> <!-- /.main_menu -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

    <div class="main-content">
    <div class="container">
    <div class="row">

    <!-- Static Menu -->
    <div class="col-md-2 visible-md visible-lg  ">
        <div class="main_menu" data-spy="affix"   >
            <ul class="menu">
                <li><a class="show-1 homebutton" href="#" data-toggle="tooltip" data-original-title="Homepage" ui-sref="app.homepage"><i class="fa fa-home"></i></a></li>
                <li><a class="show-2" href="#" data-toggle="tooltip" data-original-title="About Us" ui-sref="app.about" ><i class="fa fa-user"></i></a></li>
                <li><a class="show-3" href="#" data-toggle="tooltip" data-original-title="Our Gallery" ui-sref="app.gallery" ><i class="fa fa-briefcase"></i></a></li>
                <li><a class="show-4" href="#" data-toggle="tooltip" data-original-title="Services" ui-sref="app.service"><i class="fa fa-cog"></i></a></li>
                <li><a class="show-5" href="#" data-toggle="tooltip" data-original-title="Stay In Touch" ui-sref="app.contact" ><i class="fa fa-globe"></i></a></li>
            </ul>
        </div> <!-- /.main-menu -->
    </div> <!-- /.col-md-2 -->

    <!-- Begin Content -->
    <div class="col-md-10">
<!--

    <div class="row">
        <div class="col-md-12">
            <div class="templatemo_logo">
                <a href="#">
                    <img src="images/templatemo_logo.png" alt="Genius">
                </a>
            </div> &lt;!&ndash; /.logo &ndash;&gt;
        </div> &lt;!&ndash; /.col-md-12 &ndash;&gt;
    </div> &lt;!&ndash; /.row &ndash;&gt;

-->

    <div id="menu-container">
        <div ui-view="menucontainer" ng-hide="doingResolve" ></div>
        <div ui-view="menucontainer2" ng-hide="doingResolve" ></div>


        <div class="jumbotron loading-jumbo" ng-show="doingResolve">
            <h1><i class="fa fa-refresh fa-2x fa-spin"></i> Loading</h1>
        </div>











    <div class="site-footer " ng-hide="doingResolve">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-text">Copyright &copy; 2014 珀车 <!--  www.poshbike.com --></p>
            </div>
            <div class="col-md-6">
                <div class="social-icons-footer">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.site-footer -->

    </div> <!-- /.content-holder -->

    </div> <!-- /.col-md-10 -->
    </div> <!-- /.row -->
    </div> <!-- /.container -->
    </div> <!-- /.main-content -->

    <!--  bootstrap template end -->



    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body   end -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/flow.js/dist/flow.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/routing-config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/bikeservice.js"></script>
        <script src="scripts/directives/bikedirective.js"></script>
        <script src="scripts/services/loginservice.js"></script>
        <script src="scripts/services/mockhttp.js"></script>
        <script src="scripts/directives/form-helpers.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/error.js"></script>
        <script src="scripts/controllers/pages.js"></script>
        <script src="scripts/controllers/grandfather.js"></script>
        <script src="scripts/controllers/homepage.js"></script>
        <script src="scripts/controllers/gallery.js"></script>
        <script src="scripts/controllers/service.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <!-- endbuild -->

     <!--  bootstrap template javascript start -->

    <script src="scripts/js/jquery.mixitup.min.js"></script>
    <script src="scripts/js/jquery.nicescroll.min.js"></script>
    <script src="scripts/js/jquery.lightbox.js"></script>
    <script src="scripts/js/templatemo_custom.js"></script>

    <script>
      <!-- temperaly comments these google map functions  -->

  /*    <!--
        function initialize() {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(16.832179,96.134976)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                    'callback=initialize';
            document.body.appendChild(script);
        }

        -->*/




    </script>

     <!-- bootstrap tempate javascript end  -->

     <!--  bootstrap gallery javascript start -->

    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="styles/css/bootstrap-image-gallery/bootstrap-image-gallery.min.css">

    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="scripts/js/bootstrap-image-gallery/bootstrap-image-gallery.min.js"></script>

    <!--  bootstrap gallery javascript end -->


</body>
</html>
