<div id="menu-5" class="">
    <div class="page-header">
        <h2 class="page-title">Stay In Touch</h2>
    </div> <!-- /.page-header -->
    <div class="content-inner">
        <div class="row">
            <div class="col-md-8">
                <h3 class="widget-title">Send a message</h3>
                <p>Feel free to send us a message regarding Genius <a href="#">mobile website template</a>. Pellentesque pulvinar, orci vel scelerisque suscipit, libero justo laoreet felis, ac consectetur est nisi quis ligula. Maecenas nec felis elit.</p>
                <div class="row contact-form">
                    <div class="col-md-4">
                        <label for="name-id">Your Name:</label>
                        <input name="name-id" type="text" id="name-id" maxlength="40">
                    </div>
                    <div class="col-md-4">
                        <label for="email-id">E-mail:</label>
                        <input name="email-id" type="text" id="email-id" maxlength="40">
                    </div>
                    <div class="col-md-4">
                        <label for="subject-id">Subject:</label>
                        <input name="subject-id" type="text" id="subject-id" maxlength="60">
                    </div>
                </div> <!-- /.contact-form -->
                <p class="full-row">
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                </p>
                <input class="mainBtn" type="submit" name="" value="Send Message">
            </div> <!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="information">
                    <h3 class="widget-title">Information</h3>
                    <ul class="our-location">
                        <li><span><i class="fa fa-map-marker"></i>Address:</span>120 Nullam viverra dolor</li>
                        <li><span><i class="fa fa-map-marker"></i>Phone:</span>010-020-0210</li>
                        <li><span><i class="fa fa-map-marker"></i>Email:</span><a href="mailto:info@company.com">info@company.com</a></li>
                    </ul>
                </div> <!-- /.information -->
                <div class="google-map">
                    <h3 class="widget-title">Our Location</h3>
                    <div class="contact-map">
                        <div class="google-map-canvas" id="map-canvas" style="height: 200px;">
                        </div>
                    </div> <!-- /.contact-map -->
                </div> <!-- /.google-map -->
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.content-inner -->

</div> <!-- /.stay-in-touch -->