<div id="menu-4" class="homepage">
    <div class="page-header">
        <h2 class="page-title">Our Services</h2>
    </div> <!-- /.page-header -->
    <div class="content-inner">
        <div class="row">
            <div class="col-md-12">
                <h3 class="widget-title">Web Design and Development</h3>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="jumbotron">
            <h1>Hi, 珀车!</h1>
            <p>...</p>


            <div class="input-group input-group-lg">
                <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="邮箱地址" required="">
                <span class="input-group-btn">
                   <a class="btn btn-primary  fa fa-envelope " role="button"> dde邮件列表</a>
                </span>

            </div>

        </div>

    </div> <!-- /.content-inner -->

</div> <!-- /.services -->